*{
    margin: 0;
    padding: 0;
}
body{  
    background: radial-gradient(rgb(112, 2, 112),rgb(53, 0, 73) );
    background-image: url("../images/CADBURY.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}
header{
    background-color: rgba(245, 245, 220, 0.158);
    display:flex;
    
}
nav ul{
    display:flex;
    padding:1.7em;
    flex:1;
    list-style-type: none;
    
}
nav ul li{
    margin-top:2em;
    flex: 1;
    margin-right: 7.5em;
}
@font-face {
    font-family: "Caprica Sans";
    src: url("../fonts/caprica_sans/CapricaSansPersonalUse.ttf");
}
@font-face {
    font-family: "text";
    src: url("../fonts/louis_george_cafe/Louis\ George\ Cafe.ttf");
}
.indi{
    color: white;
    font-family: "Caprica Sans";
    font-weight: 0.1em;
    letter-spacing:0.15em;
    font-size: 3em;
    padding: 0.25em;
    background-color:rgba(116, 12, 161, 0.375) ;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.7em;
    font-family: "Caprica Sans";
    font-weight: 0.1em;
    letter-spacing:0.15em;
}
nav ul li a:hover{
	color:rgb(250, 217, 0);
}
nav ul li a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2.5px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	transform: scaleX(0);
	transition: transform 0.3s ease;
  }
nav ul li a:hover::before {
	transform: scaleX(1);
  }
.logo{
    height:7em;
    width:7em;
    align-items: center;
    margin-right: 5em;
    margin-left: 1em;
    margin-bottom: -1.2em;
}
.one{
    display: flex;
    background-image: url("../images/backif.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.one figure{
    margin-right: 6em;
}
@keyframes animate{
    0%{
        transform: translateY(-2em);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-2em);
    }
}
@keyframes animate1{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2em);
    }
    100%{
        transform: translateY(0);
    }
}
.one .yellow{
    width:125%;
    animation: animate 3s infinite;
    margin-top: -5em;
}
.one .pink{
    width:125%;
    animation: animate1 3s infinite;
    margin-top: -5em;
}
.container {
    position: relative;
  }
  
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008bba00;
    animation: animate 3s infinite;
  }
.pink + .overlay{
    animation: animate1 3s infinite;
}
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    font-family: "text";
    font-weight: 550;
    height: 50%;
    width:50%;
    color: rgb(19, 16, 16);
    position: absolute;
    padding: 0%;
    left: 63%;
    top:-60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    overflow:hidden scroll;
    
  }
  ::-webkit-scrollbar {
    display: none;
}
  .text p{
    font-weight: 700;
  }
/*Third Part*/
.nutri{
    display: flex;
    flex-direction: row;
}
.two{
    margin-top: 5em;
}
.box{
    animation: end 3s normal forwards ease-in-out infinite;
    position: relative;
    z-index: 1000;
    height:45%;
    width:45%;
    top: 5.8em;
}
.collect1{
    position: absolute;
    top: 175%;
    width:5%;
    height:5%;
    animation: one 2s normal forwards ease-in-out infinite;
    left:5%;

}
.collect1 img,.collect2 img,.collect3 img,.collect4 img,.collect5 img,.collect6 img,.collect7 img{
    width:6em;
    height:6em;
}
.collect2{
    position: absolute;
    top: 173%;
    width:5%;
    height:5%;
    animation: two 1s normal forwards ease-in-out infinite;
    left:9%;
    margin-right: 30vh;
}
.collect3{
    position: absolute;
    top: 172.5%;
    width:5%;
    height:5%;
    animation: one 0.7s normal forwards ease-in-out infinite;
    left:10.5%;
    margin-left: -10vh;
}
.collect4{
    position: absolute;
    top: 172.5%;
    animation: three 1.5s normal forwards ease-in-out infinite;
    left:12.5%;
    margin-left: 30vh;
}
.collect5{
    position: absolute;
    top: 172.5%;
    width:5%;
    height:5%;
    animation: four 2s normal forwards ease-in-out infinite;
    left:11.5%;
}
.collect6{
    position: absolute;
    top: 172.5%;
    width:5%;
    height:5%;
    animation: five 2s normal forwards ease-in-out infinite;
    left:13.5%;
}
.collect7{
    position: absolute;
    top: 172.5%;
    width:5%;
    height:5%;
    animation: six 2s normal forwards ease-in-out infinite;
    margin-left: 10vh;
    left:15%;
}
@keyframes one{0%{margin-top: 0;}100%{margin-top: 54.5vh;}}
@keyframes two{0%{margin-top: 0;}100% {margin-top: 49.5vh;margin-left: -6vh;}}
@keyframes three{0%{margin-top: 0;}20%{margin-left: 25vh;}100% {margin-left: 25vh;margin-top: 48.5vh;}}
@keyframes four{0%{margin-top: 0;}20%{margin-left: 6vh;}100% {margin-left: 6vh;margin-top: 42vh;}}
@keyframes five{0%{margin-top: 0;}100% {margin-left: 4.5vh;margin-top: 59.5vh;}}
@keyframes six{0%{margin-top: 0;}100% {margin-top: 42vh;}}
@keyframes end{0%{border-radius: 0 0 3vh 3vh;}100% {border-radius: 3vh;}}

th,tr{
    font-family: "text";
    font-size: 1.7em;
    letter-spacing: 0.15em;
    color: #ffffff;

}
table{
    margin-left: 30%; 
    margin-top: 10%; 
}
th{
    padding: 0.5em;
}
td{
    padding:0.15em;
}
tr:nth-child(1),tr:nth-child(3),tr:nth-child(5),tr:nth-child(7),tr:nth-child(9){
    background-color: rgba(240, 248, 255, 0.137);

}
tr:nth-child(1):hover,tr:nth-child(3):hover,tr:nth-child(5):hover,tr:nth-child(7):hover,tr:nth-child(9):hover{
    background-color: rgba(240, 248, 255, 0.207);
}
/*Second Part*/
.one-two ul{
    background-image: url(../images/background.jpg);
    z-index: 0;
    background-size: cover;
    backdrop-filter: blur(5px);
}
.one-two ul{
    display: flex;
    flex-direction: row;
}
.one-two ul li{
    background-color: beige;
    padding:1.25em;
    margin:1em;
    border-radius: 1em;
    color:black;
    border:0.25em solid rgb(226, 148, 4);
    list-style-type: none;
    font-size: 1.5em;
    font-family: "text";
    height:10em;
    width:8em;
    overflow: hidden scroll;
    animation:stretch 1.5s ease-out alternate; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.one-two ul li:hover{
    transform:translateY(-0.25em);
    transition: 0.25s;
}
.number{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight:500;
}
@keyframes stretch {
    0% {
        transform: scale(0, .025);
      background-color: rgba(56, 3, 96, 0.149);
      border:0.25em solid rgba(226, 148, 4, 0);
      color: #ffffff2a;
    }
    50% {
      transform: scale(1, .025);
      background-color: rgb(255, 244, 255);
      border:0.25em solid rgb(226, 148, 4);
    }
  }
h2{
    font-family: "Caprica Sans";
    color: aliceblue;
    font-size: 3em;
    font-weight: 200;
    letter-spacing: 0.15em;
    background-color:rgba(116, 12, 161, 0.375) ;
}
@media screen and (max-width: 600px) {
    *{
        align-items: center;
        
    }
    header{
        display:block;
        margin-right: 0;
        overflow:hidden;
    }
    .one{
        display: block;
    }
    nav ul{
        display: block;
        margin-bottom: 5em;
    }
    .text{
        top:-65%;
        overflow:hidden scroll;
        text-align: center;

    }
    section{
        display: block;
    }
    .one-two ul{
        display: block;
    }
    .two,.nutri{
        display: block;
    }
    .collect1,.collect2,.collect3,.collect4,.collect5,.collect6,.collect7{
        opacity: 0;
    }
    .box{
        height:100%;
        width:100%;
        top:75%;
    }
    .box img{
        height:85%;
        width:85%;
    }
    table{
        overflow-x: hidden;
        margin: 0;
        height: fit-content;
        width: fit-content;
    }
    h2{
        overflow:hidden;
        font-size: 2.5em;
    }
    th,tr{
        font-family: "text";
        font-size: 1em;
        letter-spacing: 0.15em;
        color: #ffffff;
    
    }
    table{
        margin: 8%; 
        margin-top: 4%; 
    }
    th{
        padding: 0.25em;
    }
    td{
        padding:0.7em;
    }
    .four{
        display: block;
        align-items: center;
        align-self: center;
    }

 }
.four{

    display: flex;
    margin: 2em;
}

.four p{
    font-family: "Caprica Sans";
    font-size: 3em;
    color:white;
    background-color: rgba(250, 235, 215, 0.133);
    border-radius: 0.5em;
    padding:0.5em;
}
.four p::first-letter{
 font-size:3.4em;
 color:rgb(249, 228, 111);
}
button{

    display: block;
    float: right;
    border-radius: 0.15em;
    background-color: rgb(245, 216, 49);
    padding: 0.5em;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(59, 2, 73);
    border: none;
    cursor: pointer; 
    margin:0.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover{
    background-color: rgb(246, 227, 117);
    transition: 0.5;
}
span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
    font-weight: 600;
}
footer{
    text-align: center;
    background-color: rgba(250, 235, 215, 0.092);
    color: #ffffff;
    
}
.foo{
    display: flex;
}
.foo1{
    margin-left: 7em;
    font-family: "text";
}
form p{
    font-family: "text";
}
form p:first-child{
    font-size: 2em;
}
form{
    margin: 3em;
    margin-left: 15em;
}
.policies a{
    text-transform: none;
    color:white;
}
.row a i{
    font-size:2.5em;
    margin: 0.3em;
}
label{
    font-size: 1.25em;
}
input{
    max-width: max-content;
    margin: 0.15em;
    
}
form button{
    left: 15%;
}
@media screen and (max-width: 600px){
    footer{
        text-align: center;
    }
    .foo{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .largest{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .foo1{
        margin:0;
        text-align: center;
        margin-bottom: 2em;
    }
    form{
        margin: 0;
    }
}